In [2]:
import pandas as pd
import tweepy
import json
from MyOwnTools.keys import twitter, msqlconnect

In [3]:
#create connections and API object for further use 
consumer_key = twitter['consumer_key']
consumer_secret = twitter['consumer_secret']
access_token = twitter['access_token']
access_secret = twitter['access_secret']

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

#pass auth and set the True values for the time-limit parameters of API-class object
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

In [ ]:
api

In [5]:
import mysql.connector



cnx = mysql.connector.connect(**msqlconnect)

cnx.close()

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1' (10061)

## Get tweets from search results

In [ ]:
#Set a term for search. Here double quotes for restriction to search exact phrase
search_words = '"Business Intelligence", -filter:retweets' # ' -filter:retweets' says for it's self

In [ ]:
    # Get search results
#Set te start date to search
#date_since = '2019-03-20'
number_of_tweets = 80
tweets = tweepy.Cursor(api.search,
              q = search_words,
              lang = "en",
              tweet_mode = 'extended'
              ).items(number_of_tweets)# method '.items' for set the number of tweeets we want to get
              #geocode="41.766823,72.631776"

In [ ]:
#check object created
tweets

## Save data to the file

In [ ]:
#itterate over tweets and assign value to statuses in JSON format
status = [x._json for x in tweets]

In [ ]:
#get a glance of data
status[1]['user']['id']

**Create new data frame with desired columns names**<br>
Get values of specified keys from each status

In [ ]:
# set a columns names
columns = ['user_id', 'user_name', 'lang', 'followers', 'tweets']

In [ ]:
#user id
ud = [status[i]['user']['id'] for i in range (number_of_tweets)]

In [ ]:
#screen name
un = [status[i]['user']['screen_name'] for i in range (number_of_tweets)]

In [ ]:
# language
lg = [status[i]['user']['lang'] for i in range (number_of_tweets)]

In [ ]:
#number of followers
fw = [status[i]['user']['followers_count'] for i in range (number_of_tweets)]

In [ ]:
#number of statuses in timeline
tw = [status[i]['user']['statuses_count'] for i in range (number_of_tweets)]

In [ ]:
#create pandas dataframe object
df = pd.DataFrame({'user_id' : ud, 'user_name' : un, 'lang' : lg, 'followers' : fw, 'tweets' : tw}, columns = columns)

In [ ]:
df.head()

In [ ]:
df[(df['followers'] < 500) & (df['tweets']<1000)].drop_duplicates().shape[0]

In [ ]:
#save data to the file csv
#df.to_csv('df.csv', index = False)

**Get number of followers of specified user_id**

In [ ]:
#df['followers'] = 1
#for i in df.index:
  #  user = api.get_user(user_id = df.loc[i, 'user_id'])
   # df.loc[i,'followers'] = user._json['followers_count']

In [ ]:
#df['followers'] = [api.get_user(user_id = df.loc[i, 'user_id'])._json['followers_count'] for i in df.index]

In [ ]:
#df['statuses'] = [api.get_user(user_id = df.loc[i, 'user_id'])._json['statuses_count'] for i in df.index]

In [ ]:
#check object
#user._json